{{> header }}

<table border='1'>
    <tr>
        <td colspan='8'>
            <h3>Record Accession Number: {{id}}</h3>
        </td>
    </tr>
    <form method="GET" action="display.php">
        {{#fields}} {{> displayfield }} {{/fields}}
        <tr>
            <td colspan='6'>
                {{> hidden_form }}
                <input type='submit' name='remod' value='Back to search results'>
                <h3> OR </h3>
                <a href="search.php">Input new search criteria</a>
            </td>
        </tr>
    </form>
</table>

{{> footer }}
