</div>
<footer role="contentinfo">
    <!-- <p id="address"><a href="http://lib.virginia.edu">University of Virginia Library</a><br>
    PO Box 400111<br>
    Charlottesville VA 22904-4111<br>
    phone: 434.924.7261<br>
    fax: 434.924.1431</p>-->

    <p id="copyright"><a href="http://www.virginia.edu/copyright.html">&copy;</a> The Rector and Visitors 
    of the <a href="http://www.virginia.edu">University of Virginia</a></p>

    <nav>
        <ul>
            <li><a href="http://www.lib.virginia.edu">UVa Library Home</a></li>
            <li><a href="http://www.lib.virginia.edu/sitesearch.html">Search the Site</a></li>
            <li><a href="http://www.virginia.edu">UVa Home</a></li>
        </ul>
    </nav>

</footer>

</body>
</html>

