{{> header }}

<p>In 1995, on the 100th anniversary of the Rotunda Fire, all known living
residents of the Lawn were contacted and asked to contribute their
recollections and memorabilia of their experiences at the University of
Virginia. Housed in the university's Special Collections archives, close to
1500 surveys exist, largely of male students. From these surveys, an
electronic exhibit has been created, <a
href="http://www.virginia.edu/100yearslawn/">100 Years on the Lawn</a>.</p>

<p> In 1998, a 7-page survey was sent to women who were students at The
University of Virginia between 1920 and 1976. This survey represents an effort
to recover the voices of women who were part of the Academical Village, but
who often are not remembered. It serves as a companion study to the Lawn
Survey and is modeled on it. (<a href="Survey.pdf">View a copy of the survey</a>.)</p>

<p>The Board of Visitors opened its doors officially
to graduate and professional women in 1920. After that date, women
matriculated in such programs as Education, Law, Medicine, Commerce,
Engineering, Architecture, Graduate Arts and Sciences, and Nursing. Over
15,000 women students were part of the university community prior to the
1970s. Yet, many mostly remember that women entered undergraduate Arts and
Sciences programs only in 1970. The numbers were carefully restricted until
1972, explaining the end date of this survey. </p> <p> The survey results have
now been compiled into a searchable database, available to people interested
in understanding women's experiences at U.Va.</p>

{{> footer }}
