<td>{{label}}</td>
<td>
    <select name='{{name}}'>
        <option selected value=''></option>
        {{#values}}
        <option value='{{value}}'>{{value}}</option>
        {{/values}}
    </select>
</td>
